.greeting-section {
    background: url('../resources/images/greeting-section-bg.png');
    height: 62rem;

    .main-description {
        width: 50.5rem;
        height: 31.9rem;
        background-color: rgba(0, 201, 237, 0.74);
        float: right;
        position: relative;
        top: 18rem;
        padding-top: 8.2rem;
        padding-left: 4.5rem;
    }


    p {
        font-size: 1.7rem;
        color: #fff;
        line-height: 2.6rem;
        padding-left: .5rem;
    }
}


.services-block {

    //.services_list {
    //
    //    li header {
    //        position: relative;
    //        background: #8d9db5;
    //
    //        &:after {
    //            content: '^';
    //            display: inline-block;
    //            position: absolute;
    //            top: 50%;
    //            color: red;
    //            margin-top: -3px;
    //            right: 20px;
    //            width: 11px;
    //            height: 6px;
    //            //background: url(../images/accord_arrows.svg) no-repeat 0 0;
    //            transition: transform .3s ease-in;
    //            -webkit-transition: transform .3s ease-in;
    //            -moz-transition: transform .3s ease-in;
    //            -o-transition: transform .3s ease-in;
    //        }
    //
    //        a {
    //            color: green;
    //            text-transform: uppercase;
    //            text-decoration: none;
    //            outline: none;
    //
    //
    //        }
    //    }
    //
    //    li section {
    //        display: none;
    //        background: #f1f5fb;
    //        overflow: hidden;
    //        padding: 42px 30px;
    //    }
    //
    //    li.current {
    //
    //        header:after {
    //            content: '^';
    //            display: inline-block;
    //            position: absolute;
    //            top: 50%;
    //            color: green;
    //            margin-top: -3px;
    //            right: 25px;
    //            width: 11px;
    //            height: 6px;
    //            transform: rotate(180deg);
    //            transition: transform .3s ease-in;
    //            -webkit-transition: transform .3s ease-in;
    //            -moz-transition: transform .3s ease-in;
    //            -o-transition: transform .3s ease-in;
    //        }
    //    }
    //}


}


@media only screen and (max-width: 500px) {

    .main-description {
        width: 100% !important;
        top: 6rem !important;
        height: 56rem !important;
        padding: 12rem 3.3rem!important;
        text-align: center;

        h3 {
            font-weight: 700 !important;
            font-size: 3rem;
        }

        p {
            font-weight: 600 !important;
            font-size: 2rem;
        }
    }
}
