.greeting-section {
    background: url('../resources/images/greeting-section-bg.png');
    height: 62rem;

    .main-description {
        width: 50.5rem;
        height: 31.9rem;
        background-color: rgba(0, 201, 237, 0.74);
        float: right;
        position: relative;
        top: 18rem;
        padding-top: 8.2rem;
        padding-left: 4.5rem;
    }


    p {
        font-size: 1.7rem;
        color: #fff;
        line-height: 2.6rem;
        padding-left: .5rem;
    }
}


.services-block {
    padding-top: 8rem;

    h2 {
        font-size: 4.54rem;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 5rem;
    }

    .services_list {
        min-height: 418px;
        padding-left: 3rem;
        background: url('../resources/images/service-icons.png') no-repeat;
        background-position-y: .5rem;
        background-position-x: 100%;

        li {
            padding-bottom: 2.8rem;
            width: 63rem;

            .heading {
                cursor: pointer;
            }

            .heading:before {
                content: '';
                width: 2.7rem;
                height: 2.7rem;
                border-radius: 50%;
                background-color: #28b6eb;
                background-image: url('../resources/images/sprite_global.svg');
                background-position: -52px -29px;
                display: inline-block;
                margin-right: 2rem;
                position: relative;
                top: .5rem;
                transform: rotate(-90deg);
                cursor: pointer;
            }

            .heading a {
                font-size: 2.08rem;
                font-weight: 500;
                color: #28b6eb;
            }

            section {
                max-height: 0;
                overflow: hidden;

                p {
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 2.55rem;
                    padding-top: 2.8rem;
                    padding-left: 4.9rem;
                    margin: 0;
                }
            }

            &.show section {
                max-height: 120rem;
                transition: max-height 3s ease 0s;
            }
        }

    }

    //.services_list {
    //
    //    li header {
    //        position: relative;
    //        background: #8d9db5;
    //
    //        &:after {
    //            content: '^';
    //            display: inline-block;
    //            position: absolute;
    //            top: 50%;
    //            color: red;
    //            margin-top: -3px;
    //            right: 20px;
    //            width: 11px;
    //            height: 6px;
    //            //background: url(../images/accord_arrows.svg) no-repeat 0 0;
    //            transition: transform .3s ease-in;
    //            -webkit-transition: transform .3s ease-in;
    //            -moz-transition: transform .3s ease-in;
    //            -o-transition: transform .3s ease-in;
    //        }
    //
    //        a {
    //            color: green;
    //            text-transform: uppercase;
    //            text-decoration: none;
    //            outline: none;
    //
    //
    //        }
    //    }
    //
    //    li section {
    //        display: none;
    //        background: #f1f5fb;
    //        overflow: hidden;
    //        padding: 42px 30px;
    //    }
    //
    //    li.current {
    //
    //        header:after {
    //            content: '^';
    //            display: inline-block;
    //            position: absolute;
    //            top: 50%;
    //            color: green;
    //            margin-top: -3px;
    //            right: 25px;
    //            width: 11px;
    //            height: 6px;
    //            transform: rotate(180deg);
    //            transition: transform .3s ease-in;
    //            -webkit-transition: transform .3s ease-in;
    //            -moz-transition: transform .3s ease-in;
    //            -o-transition: transform .3s ease-in;
    //        }
    //    }
    //}


}


@media only screen and (max-width: 500px) {

    .main-description {
        width: 100% !important;
        top: 6rem !important;
        height: 56rem !important;
        padding: 12rem 3.3rem!important;
        text-align: center;

        h3 {
            font-weight: 700 !important;
            font-size: 3rem;
        }

        p {
            font-weight: 600 !important;
            font-size: 2rem;
        }
    }
}

@media only screen and (max-width: 1200px) {

    .services-block {
        padding-top: 5rem;

        h2 {
            font-size: 3rem;
            font-weight: 600;
            padding-bottom: 3rem !important
        }
    }



    .services_list {
        background: none !important;
        padding: 0 !important;

        li {
            padding-bottom: 0 !important;
            width: 100% !important;
            cursor: pointer;

            .heading {
                border-top: 1px solid #e3ebee;
                padding-top: 2.9rem;
                padding-bottom: 2.9rem;
                padding-left: 2rem;
            }

            .heading:before {
                display: none !important;
            }

            .heading:after {
                content: '';
                width: 1.5rem;
                height: 1.5rem;
                background-image: url(../resources/images/sprite_global.svg);
                background-position: -170px 6px;
                display: inline-block;
                float: right;
                margin-right: 2rem;
                top: .5rem;
                cursor: pointer;
            }

            .heading a {
                text-transform: uppercase;
                font-weight: 500 !important;
                font-size: 1.4rem !important;
                color: #000 !important;
            }
        }

        li.show {

            .heading a {
                color: #28b6eb !important;
            }

            .heading:after {
                background-position: -95px 0px;
                transform: rotate(-90deg) !important;
                transition: transform .3s;
            }

            p {
                padding-top: 0 !important;
                padding-left: 2rem !important;
                padding-bottom: 2.9rem;
            }
        }
    }
}
