<!DOCTYPE html>
<head>
  <meta charset="utf-8"/>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="shortcut icon" href="/favicon.ico"/>
  <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
  <!--meta(name='description' content=pageDescription)-->
  <!--meta(name='keywords' content=pageKeywords)-->
  <!--meta(name='copyright' content=pageCopyright)-->
  <!--build:css styles/main.css-->
  <link rel="stylesheet" media="all" href="styles/main.css"/>
  <!--endbuild-->
  <!--build:css styles/vendor.css-->
  <link rel="stylesheet" media="all" href="../../node_modules/normalize.css/normalize.css"/>
  <link rel="stylesheet" media="all" href="../../node_modules/bxslider/dist/jquery.bxslider.min.css"/>
  <!--endbuild-->
</head>
<body><!--[if lte IE 8]>
<script type="text/javascript">
    'article aside footer header nav section'.replace(/\w+/g, function (n) {
        document.createElement(n)
    });
</script>
<![endif]-->

<!--[if lt IE 7]>
<script src="/scripts/browser/warning.js"></script>
<![endif]-->

<script>
    document.write('<style rel="stylesheet/css">#js-allowJavascript {display: none;}</style>');
</script>
<header class="main-header">

    <div id="top_menu">
	<span class="menu-collapse-wrap">
		<span class="menu-collapse-btn">
			<span></span>
		</span>
	</span>
        <div class="menu-wrap">
            <ul class="menu-nav">
                <li class="has-dropdown servise-icon"><a href="/#services" class="active">Services</a>    <div class="menu_dd menu_redesign services">
                    <nav>
                        <ol class="first-level-link">
                            <li class="active">
                                <a href="/custom-development" class="im10">Custom Development</a>                    <div class="menu_content">
                                <nav>
                                    <ol>
                                        <li><a href="/custom-development#new_application_development">New application development</a></li>
                                        <li><a href="/custom-development#outsourced_product_engineering">Outsourced product engineering</a></li>
                                        <li><a href="/custom-development#web_services_and_back-end_development">Web services and back-end development</a></li>
                                        <li><a href="/custom-development#advanced_front-end_development">Advanced front-end development</a></li>
                                        <li><a href="/custom-development#existing_software_re-design_and_enhancement">Existing software re-design and enhancement</a></li>
                                        <li><a href="/custom-development#customization_and_integration_of_third_party_platforms">Customization and integration of third party platforms</a></li>
                                    </ol>
                                </nav>
                            </div>
                            </li>
                            <li>
                                <a href="/enterprise-applications" class="im11">Enterprise Applications</a>                    <div class="menu_content">
                                <nav>
                                    <ol>
                                        <li><a href="/enterprise-applications#enterprise_application_and_portal_development">Enterprise application and portal development</a></li>
                                        <li><a href="/enterprise-applications#enterprise_application_integration">Enterprise application integration</a></li>
                                        <li><a href="/enterprise-applications#high-performance_middleware">High-performance middleware</a></li>
                                        <li><a href="/enterprise-applications#software_reengineering_and_optimization">Software reengineering and optimization</a></li>
                                        <li><a href="/enterprise-applications#mobile_solutions_for_enterprise_application">Mobile solutions for enterprise application</a></li>
                                    </ol>
                                </nav>
                            </div>
                            </li>
                            <li>
                                <a href="/mobile-solutions" class="im12">Mobile Solutions</a>                    <div class="menu_content">
                                <nav>
                                    <ol>
                                        <li><a href="/mobile-solutions#native_apps_development">Native apps development</a></li>
                                        <li><a href="/mobile-solutions#cross-platform_apps_development">Cross-platform apps development</a></li>
                                        <li><a href="/mobile-solutions#mobile_web_apps_and_hybrid_apps_development">Mobile web apps and hybrid apps development</a></li>
                                        <li><a href="/mobile-solutions#mobile_porting">Mobile porting</a></li>
                                        <li><a href="/mobile-solutions#back-end_for_mobile_services">Back-end for mobile services</a></li>
                                    </ol>
                                </nav>
                            </div>
                            </li>
                            <li>
                                <a href="/enterprise-mobility" class="im13">Enterprise Mobility</a>                    <div class="menu_content">
                                <nav>
                                    <ol>
                                        <li><a href="/enterprise-mobility#business_intelligence_and_data_mining">Business intelligence and data mining</a></li>
                                        <li><a href="/enterprise-mobility#customer_relationship_management">Customer relationship management</a></li>
                                        <li><a href="/enterprise-mobility#team_work_and_collaboration">Team work and collaboration</a></li>
                                        <li><a href="/enterprise-mobility#workforce_management">Workforce management</a></li>
                                        <li><a href="/enterprise-mobility#mobile_application_management">Mobile application management</a></li>
                                    </ol>
                                </nav>
                            </div>
                            </li>

                        </ol>
                    </nav>
                    <div class="menu_ddd"></div>
                </div>
                </li>

                <li class="has-dropdown expertise-icon"><a href="/#expertise" data-anchor="expertise" class="active">Expertise</a>        <div class="menu_dd menu_redesign">
                    <nav>
                        <ol class="first-level-link">
                            <li class="active">
                                <a href="/ecommerce-solutions" class="im1">E-commerce</a>                 <div class="menu_content">
                                <nav>
                                    <ol>
                                        <li><a href="/ecommerce-solutions#web_stores">Web stores</a></li>
                                        <li><a href="/ecommerce-solutions#point_of_sale_integration">Point of Sale integration</a></li>
                                        <li><a href="/ecommerce-solutions#online_payment_services">Online payment services</a></li>
                                        <li><a href="/ecommerce-solutions#custom_billing_systems">Custom billing systems</a></li>
                                        <li><a href="/ecommerce-solutions#mobile_commerce">Mobile commerce</a></li>
                                        <li><a href="/ecommerce-solutions#social_commerce">Social commerce</a></li>
                                        <li><a href="/ecommerce-solutions#marketplaces_and_business_listings">Marketplaces &amp; business listings</a></li>
                                        <li><a href="/ecommerce-solutions#online_auctions">Online auctions</a></li>
                                        <li><a href="/ecommerce-solutions#online_takeout_services">Online takeout services</a></li>
                                        <li><a href="/ecommerce-solutions#booking_and_reservation_applications">Booking &amp; reservation applications</a></li>
                                        <li><a href="/ecommerce-solutions#procurement">Procurement</a></li>
                                    </ol>
                                </nav>
                            </div>
                            </li>


                            <li>
                                <a href="/business-intelligence-and-data-mining" class="im3">business intelligence</a>                <div class="menu_content">
                                <nav>
                                    <ol>
                                        <li><a href="/business-intelligence-and-data-mining#data_integration">Data integration</a></li>
                                        <li><a href="/business-intelligence-and-data-mining#data_warehousing">Data warehousing</a></li>
                                        <li><a href="/business-intelligence-and-data-mining#data_mining">Data mining</a></li>
                                        <li><a href="/business-intelligence-and-data-mining#data_visualization">Data visualization</a></li>
                                        <li><a href="/business-intelligence-and-data-mining#bi_portal__collaboration_workspace">BI portal / Collaboration workspace</a></li>
                                        <li><a href="/business-intelligence-and-data-mining#performance_monitoring">Performance monitoring</a></li>
                                    </ol>
                                </nav>
                            </div>

                            </li>
                            <li>
                                <a href="/social-networks" class="im6">social networks</a>                    <div class="menu_content">
                                <nav>
                                    <ol>
                                        <li><a href="/social-networks#corporate_intranets_team_collaboration">Corporate intranets, team collaboration</a></li>
                                        <li><a href="/social-networks#social_commerce">Social commerce</a></li>
                                        <li><a href="/social-networks#social_crm__social_marketing">Social CRM / Social marketing</a></li>
                                        <li><a href="/social-networks#content_exchange_and_delivery">Content exchange and delivery</a></li>
                                        <li><a href="/social-networks#community_portals">Community portals</a></li>
                                    </ol>
                                </nav>
                            </div>
                            </li>
                            <li>
                                <a href="/self-care-applications" class="im2">self-care applications</a>                    <div class="menu_content">
                                <nav>
                                    <ol>
                                        <li><a href="/self-care-applications#mobile_account_management">Mobile account management</a></li>
                                        <li><a href="/self-care-applications#payment_services">Payment services</a></li>
                                        <li><a href="/self-care-applications#online_ordering">Online ordering</a></li>
                                        <li><a href="/self-care-applications#booking_services">Booking services</a></li>
                                        <li><a href="/self-care-applications#self-monitoring">Self-monitoring</a></li>
                                    </ol>
                                </nav>
                            </div>
                            </li>
                            <li>
                                <a href="/solutions-logistics" class="im4">Logistics</a>                <div class="menu_content">
                                <nav>
                                    <ol>
                                        <li><a href="/solutions-logistics#product_lifecycle_management">Product lifecycle management</a></li>
                                        <li><a href="/solutions-logistics#fleet_and_transportation_management">Fleet and transportation management</a></li>
                                        <li><a href="/solutions-logistics#sourcing_and_procurement_management">Sourcing and procurement management</a></li>
                                        <li><a href="/solutions-logistics#warehouse_management">Warehouse management</a></li>
                                        <li><a href="/solutions-logistics#order_management_and_delivery">Order management and delivery</a></li>
                                        <li><a href="/solutions-logistics#crm_and_srm">CRM and SRM</a></li>
                                    </ol>
                                </nav>
                            </div>

                            </li>
                            <li>
                                <a href="/healthcare-solutions" class="im7">Healthcare</a>                    <div class="menu_content">
                                <nav>
                                    <ol>
                                        <li><a href="/healthcare-solutions#electronic_medical_records">Electronic medical records</a></li>
                                        <li><a href="/healthcare-solutions#clinical_data_management_systems">Clinical data management systems</a></li>
                                        <li><a href="/healthcare-solutions#healthcare_information_systems">Healthcare information systems</a></li>
                                        <li><a href="/healthcare-solutions#personal_health_tracking">Personal health tracking</a></li>
                                        <li><a href="/healthcare-solutions#remote_consulting_solutions">Remote consulting solutions</a></li>
                                    </ol>
                                </nav>
                            </div>
                            </li>
                            <li>
                                <a href="/elearning-solutions" class="im8">E-learning</a>                    <div class="menu_content">
                                <nav>
                                    <ol>
                                        <li><a href="/elearning-solutions#learning_management_systems">Learning management systems</a></li>
                                        <li><a href="/elearning-solutions#learning_portals">Learning portals</a></li>
                                        <li><a href="/elearning-solutions#authoring_tools">Authoring tools</a></li>
                                        <li><a href="/elearning-solutions#testing_and_assessment_software">Testing &amp; assessment software</a></li>
                                        <li><a href="/elearning-solutions#knowledge_management_and_collaboration_tools">Knowledge management and collaboration tools</a></li>
                                        <li><a href="/elearning-solutions#mobile_learning">Mobile learning</a></li>
                                    </ol>
                                </nav>
                            </div>
                            </li>
                            <li>
                                <a href="/real-estate-web-development" class="im5">Real estate</a>                    <div class="menu_content">
                                <nav>
                                    <ol>
                                        <li><a href="/real-estate-web-development#property_management">Property management</a></li>
                                        <li><a href="/real-estate-web-development#gis">GIS</a></li>
                                        <li><a href="/real-estate-web-development#online_booking_and_payments">Online booking &amp; Payments</a></li>
                                        <li><a href="/real-estate-web-development#crm_and_marketing_automation">CRM &amp; Marketing automation</a></li>
                                        <li><a href="/real-estate-web-development#business_intelligence_and_analytics">Business Intelligence &amp; Analytics</a></li>
                                    </ol>
                                </nav>
                            </div>

                            </li>
                            <li>
                                <a href="/retail" class="im9">Retail</a>                    <div class="menu_content">
                                <nav>
                                    <ol>
                                        <li><a href="/retail#customer-oriented_retail">Customer-oriented retail</a></li>
                                        <li><a href="/retail#in-store_operations">In-store operations</a></li>
                                        <li><a href="/retail#forecasting_and_inventory_management">Forecasting and inventory management</a></li>
                                        <li><a href="/retail#reporting_and_analytics">Reporting and analytics</a></li>
                                        <li><a href="/retail#ecommerce">Ecommerce</a></li>
                                    </ol>
                                </nav>
                            </div>
                            </li>
                        </ol>
                    </nav>
                    <div class="menu_ddd"></div>
                </div>
                </li>
                <li class="has-dropdown technology-icon"><a href="/technologies#expertise">Technologies</a>      <div class="menu_dd">
                    <nav>
                        <ol class="first-level-link">
                            <!--              <li><a href="--><!--">--><!--</a></li>-->
                            <li><a href="/net">.NET</a></li>
                            <!--              <li><a href="--><!--">--><!--</a></li>-->
                            <li><a href="/php-solutions">PHP</a></li>
                            <!--              <li><a href="--><!--">--><!--</a></li>-->
                            <li><a href="/ruby-rails">RUBY ON RAILS</a></li>
                            <!--              <li><a href="--><!--">--><!--</a></li>-->
                            <li><a href="/front-end-development">FRONT-END</a></li>
                            <!--              <li><a href="--><!--">--><!--</a></li>-->
                            <li><a href="/mobile-solutions">MOBILE</a></li>
                            <hr>            <!--              <li><a href="--><!--">--><!--</a></li>-->
                            <li><a href="/ios-application-development">IOS</a></li>
                            <!--              <li><a href="--><!--">--><!--</a></li>-->
                            <li><a href="/android-application-development">ANDROID</a></li>
                            <!--              <li><a href="--><!--">--><!--</a></li>-->
                            <li><a href="/xamarin">XAMARIN</a></li>
                            <hr>            <!--              <li><a href="--><!--">--><!--</a></li>-->
                            <li><a href="/drupal">DRUPAL</a></li>
                            <!--              <li><a href="--><!--">--><!--</a></li>-->
                            <li><a href="/magento">MAGENTO</a></li>
                        </ol>
                    </nav>
                </div>
                </li>
                <li class="has-dropdown company-icon"><a href="/company">Company</a>          <div class="menu_dd">
                    <nav>
                        <aside>
                            <a href="mailto:contact@iwebdev.com" class="e_mail">contact@iwebdev.com</a>
                            <div>
                                <span>US</span>  +1 (239) 227 2563<br>
                                <span>UK</span>  +44 20 3290 8471
                            </div>
                        </aside>
                        <ol class="first-level-link">
                            <!--              <li><a href="--><!--">--><!--</a></li>-->
                            <li><a href="/company">ABOUT US</a></li>
                            <!--              <li><a href="--><!--">--><!--</a></li>-->
                            <li><a href="/our-advantages">OUR ADVANTAGES</a></li>
                        </ol>
                    </nav>
                </div>
                </li>
                <li class="showcase-icon"><a href="/showcase">Showcase</a>        <div class="menu_dd w-auto position-invert">
                    <div class="clearfix">
                        <div class="menu_column">
                            <h3>DOMAINS</h3>
                            <ul class="menu-small">
                                <li><a href="/showcase#1">Business Intelligence</a></li>
                                <li><a href="/showcase#2">CRM</a></li>
                                <li><a href="/showcase#3">eLearning</a></li>
                                <li><a href="/showcase#4">Electronic Medical Records</a></li>
                                <li><a href="/showcase#5">Enterprise Collaboration</a></li>
                                <li><a href="/showcase#6">Finance</a></li>
                                <li><a href="/showcase#7">Logistics</a></li>
                                <li><a href="/showcase#8">Media Publishing</a></li>

                            </ul>
                            <ul class="menu-small">
                                <li><a href="/showcase#9">Mobile Applications </a></li>
                                <li><a href="/showcase#237">Real Estate</a></li>
                                <li><a href="/showcase#10">Retail / Ecommerce</a></li>
                                <li><a href="/showcase#11">SaaS</a></li>
                                <li><a href="/showcase#238">Self-Care Applications </a></li>
                                <li><a href="/showcase#12">Social Networks</a></li>
                                <li><a href="/showcase#13">Web Portals</a></li>
                            </ul>
                        </div>
                        <div class="menu_column tecnologies-list">
                            <h3>TECHNOLOGIES</h3>
                            <a href="/showcase#15" class="dot-net-link"></a>
                            <a href="/showcase#16" class="front-end-link"></a>
                            <a href="/showcase#18" class="mobile-link"></a>
                            <a href="/showcase#19" class="php-link"></a>
                            <a href="/showcase#20" class="ruby-link"></a>
                        </div>
                    </div>
                    <div class="menu-footer clearfix">
                        <a href="/showcase">All case studies</a>            </div>
                </div>
                </li>

                <li class="contact"><a href="/content/contact-us">Contact us</a></li>
            </ul>
        </div>
        <a href="/" class="active"></a></div>
    <!--#top_menu-->
</header>

  <main class="main-content">
  </main><div id="contact" class="footer_contact">
    <section class="clearfix">
        <ul><li><a href="mailto:contact@iwebdev.com" class="mailto-line ico-link">contact@iwebdev.com</a></li><li><div class="phone-line ico-link"><span>US</span> +1 512 394 8752</div><div class="phone-line ico-link"><span>UK</span> +44 161 408 1560</div></li></ul>    <a href="/content/contact-us">Contact Us</a></section>
</div>

<footer class="page_footer">
    <div>
        <nav class="clearfix">


            <div class="f_column">
                <h3>Services</h3>

                <div class="clearfix">
                    <ul>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/custom-development">Custom  Development</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/enterprise-applications">Enterprise  Applications</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/mobile-solutions">Mobile Solutions</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/enterprise-mobility">Enterprise Mobility</a>              </li>
                    </ul>
                </div>
            </div>

            <div class="f_column">
                <h3>Expertise</h3>

                <div class="clearfix">
                    <ul>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/ecommerce-solutions">E-commerce</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/business-intelligence-and-data-mining">Business Intelligence</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/social-networks">Social Networks</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/self-care-applications">Self-Care Applications</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/solutions-logistics">Logistics</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/healthcare-solutions">Healthcare</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/elearning-solutions" class="active">E-learning</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/real-estate-web-development">Real Estate</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/retail">Retail</a>              </li>
                    </ul>
                </div>
            </div>

            <div class="f_column">
                <h3>Technologies</h3>

                <div class="clearfix">
                    <ul>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/net">.NET</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/php-solutions">PHP</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/ruby-rails">Ruby on Rails</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/front-end-development">Front-end</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/mobile-solutions">Mobile</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/ios-application-development">iOS</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/android-application-development">Android</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/xamarin">Xamarin</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/drupal">Drupal</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/magento">Magento</a>              </li>
                    </ul><ul>          </ul>
                </div>
            </div>

            <div class="f_column">
                <h3>SHOWCASE</h3>

                <div class="clearfix">
                    <ul>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/showcase#1" class="footer_showcase">Business Intelligence</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/showcase#2" class="footer_showcase">CRM</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/showcase#3" class="footer_showcase">eLearning</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/showcase#4" class="footer_showcase">Electronic Medical Records</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/showcase#5" class="footer_showcase">Enterprise Collaboration</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/showcase#6" class="footer_showcase">Finance</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/showcase#7" class="footer_showcase">Logistics</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/showcase#8" class="footer_showcase">Media Publishing</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/showcase#9" class="footer_showcase">Mobile Application</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/showcase#237" class="footer_showcase">Real Estate</a>              </li>
                    </ul><ul>              <li>
                    <!--        <a href="-->
                    <!--">-->
                    <!--</a>-->
                    <a href="/showcase#10" class="footer_showcase">Retail / Ecommerce</a>              </li>
                    <li>
                        <!--        <a href="-->
                        <!--">-->
                        <!--</a>-->
                        <a href="/showcase#11" class="footer_showcase">SaaS</a>              </li>
                    <li>
                        <!--        <a href="-->
                        <!--">-->
                        <!--</a>-->
                        <a href="/showcase#238" class="footer_showcase">Self-Care Applications </a>              </li>
                    <li>
                        <!--        <a href="-->
                        <!--">-->
                        <!--</a>-->
                        <a href="/showcase#12" class="footer_showcase">Social Network</a>              </li>
                    <li>
                        <!--        <a href="-->
                        <!--">-->
                        <!--</a>-->
                        <a href="/showcase#13" class="footer_showcase">Web Portals</a>              </li>
                </ul>
                </div>
            </div>

            <div class="f_column">
                <h3>Company</h3>

                <div class="clearfix">
                    <ul>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/company">About Us</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/our-advantages">Our Advantages</a>              </li>
                    </ul>
                </div>
            </div>
        </nav>
        <p>© 2017 IWD. All rights reserved.</p>
    </div>
</footer>

  <!--build:js scripts/vendor.js-->
  <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="../../node_modules/bxslider/dist/jquery.bxslider.min.js"></script>
  <!--endbuild-->
  <!--build:js scripts/main.js-->
  <script src="scripts/main.js"></script>
  <!--endbuild-->
</body>