extends default

block head
    - pageTitle = "Ecommerce"

block content

    section.greeting-section
       .container
           .main-description
               h3 ECOMMERCE
               p IWD empowers companies to bring engaging and personalized experiences within the entire digital customer journey at any touchpoint, at any time.


    section.services-block
        h2 Services
        .container
            ul.services_list
                li
                    .heading
                        a(href='#').s_icon
                            span Enterprise Ecommerce
                    section
                        article
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut ligula sed orci tincidunt finibus id eu nulla. Etiam sollicitudin enim ante, nec porttitor mauris congue et. Aenean vitae sem sit amet est sollicitudin pellentesque sit amet quis odio.
                li
                    .heading
                        a(href='#').s_icon
                            span Omnichannel Retail
                    section
                        article
                            p Proin ac ullamcorper lorem. Aliquam eget ante vitae purus imperdiet suscipit. Suspendisse molestie, quam in sodales congue, enim lacus maximus orci, sed consectetur ex lacus vel risus.
                li
                    .heading
                        a(href='#').s_icon
                            span Connected Customer
                    section
                        article
                            p The Connected Customer concept forms a solid foundation for retailers to stay ahead of the ever-changing customer expectations. IWD delivers advanced mobility solutions, self-care applications, personalization and lead generation tools, along with loyalty programs and decision support systems, fostering smart data-driven interactions and enabling new forms of engagement with technology-empowered customers.
                li.show
                    .heading
                        a(href='#').s_icon
                            span Ecommerce Analytics
                    section
                        article
                            p Our business intelligence and data mining expertise helps us address the challenges companies face when dealing with massive data sets coming from consumers and prospects. IWD builds smart analytics and reporting tools for ecommerce to provide a real-time 360-degree view of your customers and operations, bringing actionable data at your fingertips to optimize inventory, improve conversion rates and ensure effective targeting.

    section.core-areas
        h2 Core areas
        .container
            ul.areas-slider.bxslider
                li.slide-item
                   .slide-item-top.marketplaces
                       .heading-container
                        h3 Online storefronts, Marketplaces  & Auctions
                   .slide-item-content
                       p Consumer goods web stores, multi-vedor B2B marketplaces, trading networks or digital auction platforms - IWD are expert in delivering online solutions for any product or service type, ensuring high usability qand adoptability to improve overall user experience and so increase the value of your service.
                li.slide-item
                    .slide-item-top.booking
                        .heading-container
                            h3 Booking
                    .slide-item-content
                        p With flexible booking engines, direct payments and integrated up-sell tools our applications make reservation and ticketing process more convenient and streamlined, so your customers are able to book appointments, vehicles, or rooms in no time, while you reap the benefits from lower customer support efforts and increased turnover.
                li.slide-item
                    .slide-item-top.eprocurement
                        .heading-container
                            h3 E-procurement
                    .slide-item-content
                        p IWD redirects its expertise in e-commerce and logistics domains onto the procurement and supply management area, enabling complete purchase order, requisition and procure-to-pay automation to drive spend visibility, efficiency, and control along with improved supplier relationships within your supply chain.
                li.slide-item
                    .slide-item-top.billing
                        .heading-container
                            h3 Billing & Payments
                    .slide-item-content
                        p WD delivers end-to-end systems for online billing and payment to automate accounts payable and eliminate the complexity of recurring billing. Be it custom receipt management tool development or payment gateway integration, we ensure complete fraud prevention, security and PCI DSS / PA DSS standards compliance.
                li.slide-item
                    .slide-item-top.fundraising
                        .heading-container
                            h3 Fundraising
                    .slide-item-content
                        p Implementiang solutions for reward or equity crowdfunding, online investing or peer-to-peer lending, we help clients grow their ventures without turning to conventional investment channels. We also take care of third-party integrations to ensure the delivered fundraising tool is fully in line with your business model.
                li.slide-item
                    .slide-item-top.customer-service
                        .heading-container
                            h3 Customer Service
                    .slide-item-content
                        p We develop our customer service solutions with a focus on omnichannel support to enable consumers interact throughout the online shopping journey in the form of their choice, be it a live chat or a self-service tool. This allows business to address customer requests faster and more efficiently, thus enhancing customer experience and loyalty.

    section.enterprice-block
        .container
            h2 Enterprise Retail: SAP Hybris
            p SAP Hybris embraces the entire range of B2B and B2C sales needs, starting from product management to omnichannel fulfillment and analytics. Working with enterprise clients, IWD helps launching and extending SAP Hybris solutions, ensuring seamless connection with existing SAP infrastructure, easy integration with a third-party one, and system configuration to provide coherent shopping, customer care, and marketing experience for end-customers.  To drive even more business value, we take advantage of real-time big data analysis tools like SAP Hana, bringing valuable insights for a fully personalized approach towards each customer.

            ul.client-features Clients considering SAP Hybris for Ecommerce
                li Analysis and consulting
                li SAP Hybris implementation
                li Maintenance and support

            ul.client-features Clients already working with SAP Hybris
                li Existing solution modification and enhancement
                li Independent quality testing
                li Maintenance and support

            span.explore-link
                a(href='#') Explore our expertise

    section.customer-experience
        h2 CONNECTED CUSTOMER EXPERIENCE
        .customer-experience-content

