extends default

block head
    - pageTitle = "Ecommerce"

block content

    section.greeting-section
       .container
           .main-description
               h3 ECOMMERCE
               p IWD empowers companies to bring engaging and personalized experiences within the entire digital customer journey at any touchpoint, at any time.


    section.services-block
        h2 Services
        .container
            ul.services_list
                li
                    .heading
                        a(href='#').s_icon
                            span Enterprise Ecommerce
                    section
                        article
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut ligula sed orci tincidunt finibus id eu nulla. Etiam sollicitudin enim ante, nec porttitor mauris congue et. Aenean vitae sem sit amet est sollicitudin pellentesque sit amet quis odio.
                li
                    .heading
                        a(href='#').s_icon
                            span Omnichannel Retail
                    section
                        article
                            p Proin ac ullamcorper lorem. Aliquam eget ante vitae purus imperdiet suscipit. Suspendisse molestie, quam in sodales congue, enim lacus maximus orci, sed consectetur ex lacus vel risus.
                li
                    .heading
                        a(href='#').s_icon
                            span Connected Customer
                    section
                        article
                            p The Connected Customer concept forms a solid foundation for retailers to stay ahead of the ever-changing customer expectations. IWD delivers advanced mobility solutions, self-care applications, personalization and lead generation tools, along with loyalty programs and decision support systems, fostering smart data-driven interactions and enabling new forms of engagement with technology-empowered customers.
                li
                    .heading
                        a(href='#').s_icon
                            span Ecommerce Analytics
                    section.show
                        article
                            p Our business intelligence and data mining expertise helps us address the challenges companies face when dealing with massive data sets coming from consumers and prospects. IWD builds smart analytics and reporting tools for ecommerce to provide a real-time 360-degree view of your customers and operations, bringing actionable data at your fingertips to optimize inventory, improve conversion rates and ensure effective targeting.

    section.core-areas
        ul.areas-slider.bxslider
            li 1
            li 2
            li 3
            li 4

