extends default

block head
    - pageTitle = "Ecommerce"

block content

    section.greeting-section
       .container
           .main-description
               h3 ECOMMERCE
               p IWD empowers companies to bring engaging and personalized experiences within the entire digital customer journey at any touchpoint, at any time.


    section.services-block
        h2 Services
        ul.services_list
            li
                header
                    a(href='#').s_icon
                        span Enterprise Ecommerce
                section
                    article
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit
            li
                header
                    a(href='#').s_icon
                        span 2222222222222222222222222222222
                section
                    article
                        p ttttttttttttttttttttttttttttttttttttttttt
            li
                header
                    a(href='#').s_icon
                        span 3333333333333333333333
                section
                    article
                        p uuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu


