<div id="contact" class="footer_contact">
    <section class="clearfix">
        <ul><li><a href="mailto:contact@iwebdev.com" class="mailto-line ico-link">contact@iwebdev.com</a></li><li><div class="phone-line ico-link"><span>US</span> +1 512 394 8752</div><div class="phone-line ico-link"><span>UK</span> +44 161 408 1560</div></li></ul>    <a href="/content/contact-us">Contact Us</a></section>
</div>

<footer class="page_footer">
    <div>
        <nav class="clearfix">


            <div class="f_column">
                <h3>Services</h3>

                <div class="clearfix">
                    <ul>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/custom-development">Custom  Development</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/enterprise-applications">Enterprise  Applications</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/mobile-solutions">Mobile Solutions</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/enterprise-mobility">Enterprise Mobility</a>              </li>
                    </ul>
                </div>
            </div>

            <div class="f_column">
                <h3>Expertise</h3>

                <div class="clearfix">
                    <ul>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/ecommerce-solutions">E-commerce</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/business-intelligence-and-data-mining">Business Intelligence</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/social-networks">Social Networks</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/self-care-applications">Self-Care Applications</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/solutions-logistics">Logistics</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/healthcare-solutions">Healthcare</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/elearning-solutions" class="active">E-learning</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/real-estate-web-development">Real Estate</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/retail">Retail</a>              </li>
                    </ul>
                </div>
            </div>

            <div class="f_column">
                <h3>Technologies</h3>

                <div class="clearfix">
                    <ul>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/net">.NET</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/php-solutions">PHP</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/ruby-rails">Ruby on Rails</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/front-end-development">Front-end</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/mobile-solutions">Mobile</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/ios-application-development">iOS</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/android-application-development">Android</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/xamarin">Xamarin</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/drupal">Drupal</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/magento">Magento</a>              </li>
                    </ul><ul>          </ul>
                </div>
            </div>

            <div class="f_column">
                <h3>SHOWCASE</h3>

                <div class="clearfix">
                    <ul>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/showcase#1" class="footer_showcase">Business Intelligence</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/showcase#2" class="footer_showcase">CRM</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/showcase#3" class="footer_showcase">eLearning</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/showcase#4" class="footer_showcase">Electronic Medical Records</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/showcase#5" class="footer_showcase">Enterprise Collaboration</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/showcase#6" class="footer_showcase">Finance</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/showcase#7" class="footer_showcase">Logistics</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/showcase#8" class="footer_showcase">Media Publishing</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/showcase#9" class="footer_showcase">Mobile Application</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/showcase#237" class="footer_showcase">Real Estate</a>              </li>
                    </ul><ul>              <li>
                    <!--        <a href="-->
                    <!--">-->
                    <!--</a>-->
                    <a href="/showcase#10" class="footer_showcase">Retail / Ecommerce</a>              </li>
                    <li>
                        <!--        <a href="-->
                        <!--">-->
                        <!--</a>-->
                        <a href="/showcase#11" class="footer_showcase">SaaS</a>              </li>
                    <li>
                        <!--        <a href="-->
                        <!--">-->
                        <!--</a>-->
                        <a href="/showcase#238" class="footer_showcase">Self-Care Applications </a>              </li>
                    <li>
                        <!--        <a href="-->
                        <!--">-->
                        <!--</a>-->
                        <a href="/showcase#12" class="footer_showcase">Social Network</a>              </li>
                    <li>
                        <!--        <a href="-->
                        <!--">-->
                        <!--</a>-->
                        <a href="/showcase#13" class="footer_showcase">Web Portals</a>              </li>
                </ul>
                </div>
            </div>

            <div class="f_column">
                <h3>Company</h3>

                <div class="clearfix">
                    <ul>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/company">About Us</a>              </li>
                        <li>
                            <!--        <a href="-->
                            <!--">-->
                            <!--</a>-->
                            <a href="/our-advantages">Our Advantages</a>              </li>
                    </ul>
                </div>
            </div>
        </nav>
        <p>© 2017 IWD. All rights reserved.</p>
    </div>
</footer>
