mixin showcaseSlider(mediaObj)
    ul.showcase.bxslider
        each item in mediaObj.items
            li
                .showcase-slide-item
                    .slide-info
                        h3
                            != item.heading
                        p.main
                            != item.paragraph
                        p.short.for-devices
                            != item.shortDesc
                        .study-case-link.for-devices
                            a Case study

                    .main-image
                        img(src=item.src, alt='Loading image')
                .read-more
                    span
                        a(href='#') Read more
    //#show_slider
    //    section
    //        .left_link_wrap
    //            a(id='pr_prev').show_pr_prev
    //        .right_link_wrap
    //            a(id='pr_next').show_pr_next
    //        ul(id='pr_slider')
    //            each item in mediaObj.items
    //                li
    //                    a(href=item.href || '#')
    //                        h3
    //                            != item.heading
    //                        figure.pr_figure
    //                            img(src=item.src, alt='Loading image')
    //                            figcaption
    //                                article
    //                                    p.item-title
    //                                        != item.paragraph
    //                                        span.study-case-link Case study
    //
